 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 970px;
}

.u-section-1 .u-group-1 {
  width: 557px;
  min-height: 519px;
  height: auto;
  margin: 166px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin: 97px 30px 0 13px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 8px 30px 0 13px;
}

.u-section-1 .u-list-1 {
  width: 583px;
  margin: -636px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 845px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 2px;
}

.u-section-1 .u-image-1 {
  width: 201px;
  height: 235px;
  object-position: 50% 35.59%;
  margin: 37px auto 0 21px;
}

.u-section-1 .u-text-3 {
  margin: -190px 30px 0 235px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 13px 247px 0 235px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 2px;
}

.u-section-1 .u-image-2 {
  width: 201px;
  height: 235px;
  margin: 37px auto 0 21px;
}

.u-section-1 .u-text-5 {
  margin: -190px 30px 0 235px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 13px 247px 0 235px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 2px;
}

.u-section-1 .u-image-3 {
  width: 201px;
  height: 235px;
  margin: 37px auto 0 21px;
}

.u-section-1 .u-text-7 {
  margin: -190px 30px 0 235px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 13px 247px 0 235px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-1 .u-group-1 {
    width: 357px;
    min-height: 643px;
    margin-top: 49px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-top: -638px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 220px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 220px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1215px;
  }

  .u-section-1 .u-group-1 {
    min-height: 365px;
    margin-top: 826px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: -1068px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 9px;
    margin-left: 214px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 219px;
    margin-left: 204px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 204px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 219px;
    margin-left: 204px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 204px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 219px;
    margin-left: 204px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 402px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 190px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 190px;
    margin-right: 33px;
    margin-left: 190px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 190px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 33px;
    margin-left: 190px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 190px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 33px;
    margin-left: 190px;
  }
}